@model List<Real_estate_business.Models.Rent>
@using Real_estate_business.Models

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyC</title>
</head>
<body>
    <div>
        <h1>City</h1>
        @foreach (Rent rent in Model)
        {
            @Html.ActionLink(rent.City, "City", "Home", new { @id = rent.City }, null);
            <br>
        }
    </div>
</body>
</html>

