@model List<Real_estate_business.Models.Rent>

@using Real_estate_business.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CountC</title>
</head>
<body>
    <div>
        <h1>Branch Numbers</h1>
        @foreach (Rent rent in Model)
        {
            @Html.ActionLink(rent.BranchNoRef, "PropertyP", "Home", new { @id = rent.BranchNoRef }, null);
            <br>
        }
    </div>
</body>
</html>

